body{
    width: 60%;
    margin: auto;
  }

 .head{
    width: 100%;
    height: 70px;
    background-color: #7F6BF5;
    color: white;
  }
  
  .selectOption{
    margin-top: 50px;

  }

  .Select{
    margin-bottom: 50px;
    width: 100%;
    background-color: #AA9CFF;
    color: white;
   
  }

  .Radio, .DropBox, .SelectResult{
    padding: 5px;
  
  }

  .DropBox{
    background-color: #AA9CFF;
    color :white;
    width: 100%;
    height: 100%;

  }
   
  main{
      display: flex;
  }
  
  section{
      top : -20px; 
      height: 1000px;

      background-color: #D9D9D9;
  }
  
  aside{

    width: 20%;
    height: 1040px;
    background-color: #D8D1FF;  
  }
  
  .img{
    width: 100%;
    height: 35%;
    background-color: #D9D9D9;
  }
  
 .info{
    border: 20px solid #C8BEFF;
    margin-top:350px ;
    width: 918px;
    height: 30%;
    background-color: #D8D1FF; 
  }
  
  .sel{
      height: 30px;
      background-color: #7F6BF5;
      padding-left: 5%;
      font-size: 20px;

  }

  .mainbutton{
    border-radius: 25px; 
    color:white;
    background-color: #AFA4F0;
    position: relative;
    top: -5px;
    left: 150px;
  }

  .mainbutton2{
    border-radius: 25px; 
    color:white;
    background-color: #AFA4F0;
  }

  .sumbutton{
    background-color: #AA9CFF;
    height: 50px;
    width: 200px;
    margin-left:10% ;
    font-size: 25px;
  }

  canvas{
    border: 30px  solid #D9D9D9;
    
  }

  .result-parts-label{
    border: 1px solid black;
    padding:10px;
    width: 190px;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    background-color: #AA9CFF;
    display: inline-block;
    
  }

  

